<div class="row text-center vh-100" style="background-color: #651FFF;">
    <div class="col-md-12 text-center mt-5">
        <img src="../../assets/education.png" width="300" height="275" class="">
        <h1 class="mt-4" style="color:white">Misyonumuz</h1>
        <p style="color:lightcyan; font-size: large;"> Eğitim Değerlendirme Otomasyonu, Türkiye’deki geniş ağı ve üniversitelerle anlaşmalı işbirliğiyle, 
            öğrenciler , öğretim görevlileri ve okullar arasında kaliteli bir iletişim sunmayı amaçlar. Gerek tercih dönemindeki öğrenciler olsun 
        gerek yüksek lisans & doktora hazırlığındaki öğrenciler olsun okullar ve öğretim görevlileri hakkında daha detaylı araştırma yapma olanağı sunar.</p>
    </div>
</div>



